from fastapi import Request

from {{ package_name }}.infra.db import SqlAlchemyUnitOfWork


def get_sqlalchemy_uow(request: Request) -> SqlAlchemyUnitOfWork:
    return SqlAlchemyUnitOfWork(request.app.state.db_session_factory)
