from fastapi import Depends

from {{ package_name }}.features.users.infra import build_users_repository
from {{ package_name }}.features.users.use_cases import CreateUserUseCase
from {{ package_name }}.features.users.use_cases import GetUserUseCase
from {{ package_name }}.features.users.use_cases import ListUsersUseCase
from {{ package_name }}.infra.db import SqlAlchemyUnitOfWork

from .db import get_sqlalchemy_uow


def get_create_user_use_case(
    uow: SqlAlchemyUnitOfWork = Depends(get_sqlalchemy_uow),
) -> CreateUserUseCase:
    return CreateUserUseCase(
        repository_factory=build_users_repository,
        uow=uow,
    )


def get_get_user_use_case(
    uow: SqlAlchemyUnitOfWork = Depends(get_sqlalchemy_uow),
) -> GetUserUseCase:
    return GetUserUseCase(
        repository_factory=build_users_repository,
        uow=uow,
    )


def get_list_users_use_case(
    uow: SqlAlchemyUnitOfWork = Depends(get_sqlalchemy_uow),
) -> ListUsersUseCase:
    return ListUsersUseCase(
        repository_factory=build_users_repository,
        uow=uow,
    )
