from fastapi.testclient import TestClient

from {{ package_name }}.api.app import build_app


def test_healthcheck() -> None:
    client = TestClient(build_app())

    response = client.get("/internal/healthcheck")

    assert response.status_code == 200
    assert response.json() == {"status": "ok"}
