from {{ package_name }}.features.users.contracts import GetUserCommand
from {{ package_name }}.features.users.ports import UsersRepositoryFactory
from {{ package_name }}.models.user import User
from {{ package_name }}.protocols import UnitOfWork


class GetUserUseCase:
    def __init__(
        self,
        repository_factory: UsersRepositoryFactory,
        uow: UnitOfWork,
    ) -> None:
        self._repository_factory = repository_factory
        self._uow = uow

    async def execute(self, command: GetUserCommand) -> User | None:
        async with self._uow as uow:
            repository = self._repository_factory(uow)
            return await repository.get_by_id(command.user_id)
